<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
       <add id="Myvendor_Faqs::faqs_crud"
            title="FAQs"
module="Myvendor_Faqs"
sortOrder="20"
resource="Magento_Backend::content" />
       <add id="Myvendor_Faqs::faqs_crud_secondlevel"
            title="Manage FAQs"
module="Myvendor_Faqs"
sortOrder="1"
action="exampleadminnewpage/robusta"
parent="Myvendor_Faqs::faqs_crud"
            resource="Magento_Backend::content" />

        <add id="Myvendor_Faqs::Category_crud"
            title="Manage Categories"
module="Myvendor_Faqs"
sortOrder="2"
action="exampleadminnewpage/robusta/categoryindex"
parent="Myvendor_Faqs::faqs_crud"
            resource="Magento_Backend::content" />
  </menu>
</config>
